<div class="card" style="width: 18rem; margin: auto">
  <img class="card-img-top" alt="handshake">
  <div class="card-body">
    <h5 class="card-title">Contract Created</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus animi quis perferendis unde vitae! Nam quibusdam impedit cum, veniam dolore explicabo at, reprehenderit repellat odit corrupti optio maiores tempora perferendis!.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @contract.candidate.name %></li>
    <li class="list-group-item"><%= @contract.company.name %></li>
    <li class="list-group-item"><%= @contract.recruiter.name %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Click to sign</a>
    <a href="#" class="card-link">Click to submit</a>
  </div>
</div>
